{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>
    <div class="container-fluid">
        <section id="header" class="text-center">
            <div class="top container">
                Мой Онлайн-Магазин
            </div>
            <div class="top-bl">
                <div class="container">
                    <div class="cart">Ваша корзина пуста</div>
                </div>
            </div>
        </section>
        <div class="row">
            <section id="category" class="col-md-2 text-center">
                {% include "shop/category/category.html" %}
            </section>
            <section id="content row" class="col-md-8">
                {% block content %}{% endblock %}
            </section>
        </div>
    </div>
</body>
</html>