{% extends "shop/index.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div>
    <div class="col-sm-4">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.jpg'%}{% endif %}"
             class="img-responsive">
    </div>
    <div class="col-sm-4">
        <h2>{{ product.name }}</h2>
        <!--<h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>-->
        <div>
            <p class="price">
                {{ product.price }} руб.
            </p>
            <div>
                <h4>Описание</h4>
                <span>
                {{ product.description | linebreaks}}
             </span>
            </div>
        </div>
        {% if product_comments %}
        <div>
            <h4>Отзывы:</h4>
            {% for comment in product_comments %}
            <div class="card">
                <h5 class="card-title">Пользователь:</h5>
                <p>{{comment.created}}</p>
                <span>
                    {{ comment.comment }}
                </span>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}