{% extends 'shop/index.html' %}
{% load static %}
{% block title %}
  {% if category %} {{ category.name }} {% else %} Страница товаров {% endif %}
{% endblock %}
{% block content %}
  <div id="main" class="text-center">
    <h1>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
    <div class="row">
      {% for product in products %}
        <div class="col-sm-4" id = "product">
          <div class="col-sm-11 card">
            <a href="{{ product.get_absolute_url }}">
              <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">Цена : {{ product.price }} руб.</p>
              {% if is_cart %}
              <div class = "justify-content-center">
                <div class = "row">
                  <p class="card-text">Колличество : <span id = "productCount">{{product.count_in_cart}}</span> </p>
                  <a href="#" role="button" class="" 
                          onclick="CartModule.changeProductCountInCart({{ product.id }}, 'add') ;return false;"><span style="font-size : 20px">+</span></a>
                  <a href="#" role="button" class="" 
                          onclick="CartModule.changeProductCountInCart({{ product.id }}, 'remove');return false;"><span style="font-size : 20px">-</span></a>
                </div>
              </div>
              {% else %}
                <p class="card-text">Остаток : {{ product.stock }}</p>
              {% endif %}
              <div class="btn-group btn-group-toggle">
                <a href="{{ product.get_absolute_url }}" role="button" class="btn btn-outline-primary btn-sm">Подробнее</a>
                {% if user.is_authenticated %}
                  {% if is_cart %}
                    <a href="#" role="button" class="btn btn-outline-danger btn-sm" 
                          onclick="CartModule.removeProductFromCart({{ product.id }}, this);return false;">Удалить из корзины</a>
                  {% else %}
                    <a href="#" role="button" class="btn btn-outline-success btn-sm"
                          onclick="CartModule.changeProductCountInCart({{ product.id }}, 'add'); return false" >Добавить в корзину</a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}