<div id="sidebar">
    <h3>Категории</h3>
    <div class = "list-group">
        <a {% if not category %} class="list-group-item list-group-item-action active" {% endif %} class="list-group-item list-group-item-action"
            href="{% url "shop:ProductList" %}">
            Все
        </a>
        {% for cat in categories %}
        <a {% if category.slug == cat.slug %} class="list-group-item list-group-item-action active" {% endif %} class="list-group-item list-group-item-action"
             href="{{ cat.get_absolute_url }}">{{ cat.name }}
        </a>
        {% endfor %}
    </div>
</div>